<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/saveE" method="post">
            
            <label for="">Nombre</label>
            <input type="text" name="nombreE">

            <label for="">Apellido</label>
            <input type="text" name="apellidoE">

            <label for="">Fecha De Creacion</label>
            <input type="text" name="fechaC">

            <label for="">Sueldo</label>
            <input type="text" name="sueldoE">

            <label for="">Telefono</label>
            <input type="text" name="telefono">

            <label for="">Idioma Hablado</label>
            <input type="text" name="idiomaE">
            <button type="submit" >Crear Cliente</button>

        </form>
</body>
</html>